{% extends 'base.html.twig' %}

 {% block body %}

     <div>
         <h1>Real article s title : {{ article.title }}</h1>
         <h2>Category : <a href="{{ path('blog_show_category', { 'name': article.categorys.name|replace({' ': '-'}) }) }}">{{ article.categorys.name }}</a></h2>
         <p>{{ article.content }}</p>
     </div>

     <a href="{{ path('blog_index') }}">
         All articles
     </a>

 {% endblock %}
